<link rel="ractive" href="../shared/header.html" name="Header">
<link rel="ractive" href="./sidebar.html" name="FreeOpenSourceCdnSidebar">
<Header app="{{app}}" query="{{query}}"></Header>
<FreeOpenSourceCdnSidebar></FreeOpenSourceCdnSidebar>
<div class="javascript-cdn free-open-source-cdn">
	<div class="container">
		<div class="row">
			<div class="col-md-14 col-md-offset-6 col-sm-18 col-sm-offset-5 col-xs-16 col-xs-offset-7">
				<div class="category">
					免费开源的CDN
				</div>

				<h1>jsDelivr JavaScript的CDN - 先进的开源公共CDN</h1>
			</div>
		</div>
	</div>

	<div class="container">
		<div class="row">
			<div class="col-md-12 col-md-offset-6 col-sm-16 col-sm-offset-5 col-xs-20 col-xs-offset-2">
		<p>
作为开发人员，你可能意识到<a href="https://developers.google.com/speed/libraries/">谷歌托管库</a>。谷歌提供了一个方便，
快速的方法，包括在你的网站14流行的javascript库。
</p>

<p>
但是，如果你是一个站长，你想利用一个快速的cdn与其他较冷门的项目吗？或者，如果你是
开发人员，你想使你的项目更容易访问和其他用户使用？
</p>

<p>
这是<a href="/"> jsdelivr</a>进场。 jsdelivr cdn是为了帮助开发人员和网站管理员一个自由和开放源码。
有没有普及的限制和各种文件都是允许的，包括javascript库，jquery插件，css框架，字体等等。
</p>

				<img src="/img/free-open-source-cdn/javascript-cdn/map.png" class="javascript-cdn-map">

				<h3>添加库</h3>

				<ol class="ol">
					<li>
				<strong>要添加新库或更新现有的一个，所有的开发者做</strong>是使用github的web界面来2文件添加到我们的资料库以他们认为合适的修改。一旦主持人回顾了拉请求，然后把它合并，这些文件成为瞬间可以从官方网站上。 </li> <li><strong>如果一个主持人在线，审批不应该采取</strong>20多分钟。但是，它可能需要长达10个小时，直到有人来上网。对于现有项目，更新是自动合并，由我们的机器人如果他们通过所有的测试。
					</li>
				</ol>
			</div>
		</div>
	</div>
</div>

<script>
	component.exports = {
		data: function () {
			return {
				title: 'JavaScript CDN - jsDelivr',
			};
		},
	};
</script>
