<link rel="ractive" href="../shared/header.html" name="Header">
<link rel="ractive" href="./sidebar.html" name="FeaturesSidebar">

<Header app="{{app}}" query="{{query}}"></Header>
<FeaturesSidebar></FeaturesSidebar>

<div class="cdn-in-asia-and-china features">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-md-offset-6 col-sm-16 col-sm-offset-5 col-xs-16 col-xs-offset-7">
				<div class="category">
					特征
				</div>

				<h1>CDN在亚洲和中国</h1>
			</div>
		</div>
	</div>

	<section class="section">
		<div class="container">
			<div class="row">
				<div class="col-md-12 col-md-offset-6 col-sm-16 col-sm-offset-5 col-xs-20 col-xs-offset-2">
					<div class="row row-same-height">
						<div class="col-sm-12 text-center">
							<img src="/img/features/cdn-in-asia-and-china/map.png">
						</div>

						<div class="col-sm-12">
							<h2>我们有一个<strong>巨大的网络</strong>在中国</h2>

							<p>
	jsDelivr已经合作了多个中国企业提供在中国大陆乃至整个亚洲大陆快速，可靠的文件传输。我们必须在中国境内的服务器上，提高访问速度和显著延迟。检查我们的网络地图的位置的完整列表。我们有中国政府保护我们免受禁令和下载速度慢签发的有效ICP牌照。
							</p>

							<p class="cdn-in-asia-and-china-not-banned">
						放心使用！<strong>	我们没有被中国政府禁止</strong> 
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>
<script>
	component.exports = {
		data: function () {
			return {
				title: 'CDN 在亚洲和中国 - jsDelivr',
			};
		},
	};
</script>
