<link rel="ractive" href="../shared/header.html" name="Header">
<link rel="ractive" href="./sidebar.html" name="FeaturesSidebar">

<Header app="{{app}}" query="{{query}}"></Header>
<FeaturesSidebar></FeaturesSidebar>

<div class="jsdelivr-cdn-features features">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-md-offset-6 col-sm-16 col-sm-offset-5 col-xs-16 col-xs-offset-7">
				<div class="category">
				特征
				</div>

				<h1>jsDelivr CDN功能</h1>
			</div>
		</div>
	</div>

	<section class="section">
		<div class="container">
			<div class="row">
				<div class="col-md-12 col-md-offset-6 col-sm-16 col-sm-offset-5 col-xs-20 col-xs-offset-2">
					<div class="row row-same-height">
						<div class="col-xs-12">
							<h2>最高性能和正常运行时间</h2>

							<p>
								我们的公共CDN是建立在考虑性能和可靠性。一切都是<STRONG>优化</strong>并不断完善，提供所有用户的<strong>最大速度和正常运行时间</strong>。性能始终处于监控，并且我们一直在寻找新的技术和服务提供者，可能会进一步提高我们的CDN。
							</p>

							<p>
							停机时间，超时和缓慢的反应是完全不能接受的。这个想法是不是简单地提供一个公共的CDN，而是要提供最好的经验和坚如磐石的产品准备到任何网站在生产中使用。
							</p>
						</div>

						<div class="col-xs-12 text-center">
							<img src="/img/features/jsdelivr-cdn-features/maximum-performance-and-uptime.png">
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
<!--
	<section class="section">
		<div class="container">
			<div class="row">
				<div class="col-md-12 col-md-offset-6 col-sm-16 col-sm-offset-5 col-xs-20 col-xs-offset-2">
					<div class="row row-same-height">
						<div class="col-xs-12 text-center">
							<img src="/img/features/jsdelivr-cdn-features/multi-cdn.png">
						</div>

						<div class="col-xs-12">
							<h2>MULTI-CDN</h2>

							<p>
								Unlike the competition, jsDelivr uses multiple CDN providers which results in best possible uptime and performance. We currently use
								<a target="_blank" href="http://tracking.maxcdn.com/c/47243/36539/378">MaxCDN</a>, <a target="_blank" href="http://www.cedexis.com/">CloudFlare</a>, and
								<a target="_blank" href="https://www.keycdn.com/">KeyCDN</a>.
							</p>

							<p>
								On top of CDN providers, jsDelivr also utilizes custom servers in locations where CDNs don't have points of presence to further optimize the speed
								of file downloads for users near those locations.
							</p>

							<p>
								If a CDN or custom server goes down, websites that use jsDelivr won't have any issues because all traffic will be instantly redirected to remaining
								operational providers.
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
-->
	<section class="section">
		<div class="container">
			<div class="row">
				<div class="col-md-14 col-md-offset-5 col-sm-18 col-sm-offset-3 col-xs-22 col-xs-offset-1">
					<div class="row row-same-height">
						<div class="col-xs-8 text-center">
							<img src="/img/features/jsdelivr-cdn-features/version-aliasing.png">
						</div>

						<div class="col-xs-8 text-center">
							<img src="/img/features/jsdelivr-cdn-features/automatic.png">
						</div>

						<div class="col-xs-8 text-center">
							<img src="/img/features/jsdelivr-cdn-features/a-real-api.png">
						</div>
					</div>

					<div class="row row-same-height row-offset">
						<div class="col-xs-8 text-center">
							<h2>VERSION混叠</h2>

							<p class="text-center">
							通过jsDelivr托管每一个项目支持先进的功能，如版本混淆。它可以让人们使用动态的URL并保持其
网站多达最新不做改变。 <a href="https://github.com/jsdelivr/jsdelivr#version-aliasing">完整文档.</a>
							</p>
						</div>

						<div class="col-xs-8 text-center">
							<h2>自动更新</h2>

							<p class="text-center">
							jsDelivr可以自动保持一个项目最多，最新的新版本发布，这要归功于一个叫男孩libgrabber可以独立运行，并扫描托管的项目每30分钟的新版本。
								<a href="https://github.com/jsdelivr/jsdelivr#auto-updating">完整文档.</a>
							</p>
						</div>

						<div class="col-xs-8 text-center">
							<h2>一个真正的API</h2>

							<p class="text-center">
								您可以要求正是你需要使用我们的API，而无需下载庞大的JSON包的内容。而且它还支持cdnjs，谷歌托管库和BootstrapCDN。
这样，开发人员，他们需要建立自己的应用程序的一切。<a href="https://github.com/jsdelivr/api">完整文档.</a>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
<!--
	<section class="section">
		<div class="container">
			<div class="row">
				<div class="col-md-12 col-md-offset-6 col-sm-16 col-sm-offset-5 col-xs-20 col-xs-offset-2">
					<div class="row row-same-height">
						<div class="col-xs-12">
							<h2>SMART LOAD BALANCING</h2>

							<p>
								jsDelivr uses <a target="_blank" href="http://www.cedexis.com/">Cedexis</a> with real user performance data (also known as RUM) to make its routing
								decisions. These metrics are gathered from  hundreds of websites and are used in our load balancing algorithm to make accurate decisions for serving content.
								All providers  (CDNs and custom servers) are tested millions times per day by real users from all over the world. Based on this information, jsDelivr knows
								what provider is the fastest for each user. Each user gets a unique response based on his or her location, ISP, and the providers' uptime in real time.
							</p>

							<p>
								This system also responds immediately to performance degradation and downtime of providers. If a CDN is under a DDoS attack, and their performance
								drops in some locations, in matter of seconds the algorithm will pick up the change and start serving a different provider to all affected users.
							</p>
						</div>

						<div class="col-xs-12 text-center">
							<img src="/img/features/jsdelivr-cdn-features/smart-load-balancing.png">
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
-->
	<section class="section">
		<div class="container">
			<div class="row">
				<div class="col-md-12 col-md-offset-6 col-sm-16 col-sm-offset-5 col-xs-20 col-xs-offset-2">
					<div class="row row-same-height">
						<div class="col-xs-12 text-center">
							<img src="/img/features/jsdelivr-cdn-features/load-multiple-files.png">
						</div>

						<div class="col-xs-12">
							<h2>加载多个文件</h2>

							<p>
							jsDelivr是第一个CDN来支持这种功能。您可以加载使用<STRONG>一个HTTP请求多个文件</STRONG>。它类似于
以合并和污染减量在自己的服务器的JavaScript文件，但缓存由jsDelivr的庞大和智能网络。</p>

							<p>
								所有你需要做的是，如果需要的项目，要合并文件及其版本建立自己的网址。
								<a href="https://github.com/jsdelivr/jsdelivr#load-multiple-files-with-single-http-request">完整的文档。</a>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="section">
		<div class="container">
			<div class="row">
				<div class="col-md-14 col-md-offset-5 col-sm-18 col-sm-offset-3 col-xs-22 col-xs-offset-1">
					<div class="row row-same-height">
						<div class="col-xs-8 text-center">
							<img src="/img/features/jsdelivr-cdn-features/https-and-spdy.png">
						</div>

						<div class="col-xs-8 text-center">
							<img src="/img/features/jsdelivr-cdn-features/open-source.png">
						</div>

						<div class="col-xs-8 text-center">
							<img src="/img/features/jsdelivr-cdn-features/unlimited-traffic.png">
						</div>
					</div>

					<div class="row row-same-height row-offset">
						<div class="col-xs-8 text-center">
							<h2>HTTPS和SPDY</h2>

							<p class="text-center">
							安全是我们大家非常重要的。这就是为什么所有的文件都可以访问通过HTTPS与<strong>全SPDY支持</strong> 为更好的性能。
							</p>
						</div>

						<div class="col-xs-8 text-center">
							<h2>开放源码</h2>

							<p class="text-center">
								<strong>jsDelivr是一个非盈利项目</strong>我们所有的软件开源，并可以在GitHub上，任何人使用，贡献.
							</p>
						</div>

						<div class="col-xs-8 text-center">
							<h2>无限流量</h2>

							<p class="text-center">
								感谢我们的赞助商，我们绝对没有流量限制。即使你的网站产生大量流量 <strong>每一天</strong>.
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>
<script>
	component.exports = {
		data: function () {
			return {
				title: 'jsDelivr CDN features',
			};
		},
	};
</script>
