<link rel="ractive" href="../shared/header.html" name="Header">
<link rel="ractive" href="./sidebar.html" name="FeaturesSidebar">

<Header app="{{app}}" query="{{query}}"></Header>
<FeaturesSidebar></FeaturesSidebar>

<div class="multi-cdn-load-balancing features">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-md-offset-6 col-sm-16 col-sm-offset-5 col-xs-16 col-xs-offset-7">
				<div class="category">
					特征
				</div>

				<h1>多CDN负载均衡</h1>
			</div>
		</div>
	</div>

	<section class="section">
		<div class="container">
			<div class="row">
				<div class="col-md-12 col-md-offset-6 col-sm-16 col-sm-offset-5 col-xs-20 col-xs-offset-2">
					<div class="row row-same-height">
						<div class="col-xs-12">
							<h2>全局负载均衡</h2>

				<p>与竞争对手不同，jsdelivr采用独特的multi-cdn基础设施，以提供最佳的正常运行时间和性能。它的主要骨干是建立在由maxcdn，cloudflare的，keycdn和位数提供cdn网络的顶端。 </p> <p>我们在cdn的很少或根本没有存在的地方使用自定义的服务器。总共在这一刻这将导致98全球流行的位置。在将来，我们计划增加更多的地点，提供即使在冷门国家的顶级性能。 </p> <p>我们的智能负载均衡系统不仅可以确保最佳的性能也是最佳的正常运行时间。我们有多个级别的故障转移和多样化的正常运行监测系统，将捕获任何停机或问题，并立即重定向所有流量。 </p> <p>每个用户得到了基于它们的位置和isp一个独特的反应。每次一个用户的请求要下载从jsdelivr一个文件，我们的算法提取它所具有的可用于最后几分钟的性能和可用性数据，并计算出该特定用户和该特定时间的最佳提供者。所有这种情况发生在几毫秒。 </p> <p>此算法也立即响应性能下降。例如，如果一个cdn提供商获取ddosed在欧洲及其响应时间的增加，jsdelivr将拿起变化，只是停止使用该供应商在欧洲，但仍然认为它是没有受到攻击的用户在美国和其他地方。 </p> <p>吃醋吗？我们可以为您建立一个类似的系统。我们提供<a href="/consultation-services"> cdn和网络效果进行咨询服务。</a> </p>
						</div>

						<div class="col-xs-12 text-center">
							<img src="/img/features/multi-cdn-load-balancing/global-load-balancing.png">
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="section">
		<div class="container">
			<div class="row">
				<div class="col-md-12 col-md-offset-6 col-sm-16 col-sm-offset-5 col-xs-20 col-xs-offset-2">
					<div class="row row-same-height">
						<div class="col-xs-12 text-center">
							<img src="/img/features/multi-cdn-load-balancing/real-time-data-monitoring.png">
						</div>

						<div class="col-xs-12">
							<h2>实时CDN监控</h2>

				<p> 我们的负载平衡是基于实时性能数据<a target="_blank" href="http://www.cedexis.com/"> cedexis </a>聚集在所有主要的cdn提供商。每天1.3十亿rum（真实用户度量）性能测试进行处理，并提供给我们。 </p> <p> 为了收集这些rum测试中，一个特殊的javascript代码部署在数以千计的网站。每位访客都对这些网站中的一个执行代码，并开始在后台测试不同的cdn供应商，因为他们浏览的网站。你甚至可以自己动手和<a href="https://github.com/jsdelivr/jsdelivr#contribute-performance-data">帮助jsdelivr提供有价值的数据</a>。 这些测试的美妙之处在于他们是不是合成的。他们反映，如果他们从这些的cdn之一下载文件时的实际表现真正的用户会得到。 </p> <p> 论rum的正常运行时间的信息之上，我们还可以使用2合成的正常运行时间监视器来监视我们所有的供应商。这保证了即时停机检测和即时故障转移。 这个运行时间信息被拉动每一次用户发出请求以cdn.jsdelivr.net，并且如果任何一个监视器报告的问题，提供从考虑中删除。 </p> <p> 作为额外的故障恢复层，我们也监督我们的负载平衡供应商，如果负载均衡器本身出现故障的任何原因，所有的流量会自动切换到一个单一的cdn提供商。这会自动发生在dns级别，这是不得已而为之，以保证我们的正常运行时间。 </p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="section">
		<div class="container">
			<div class="row">
				<div class="col-md-12 col-md-offset-6 col-sm-16 col-sm-offset-5 col-xs-20 col-xs-offset-2">
					<div class="row row-same-height">
						<div class="col-xs-12">
							<h2>无限请求及流量</h2>

							<p>
由于其性质jsDelivr的建立是为了能够在几分钟通知交换机基础架构。我们使用的是最好的服务在那里，不像我们的竞争对手我们从来没有厂商锁定的任何技术，服务或公司。如果保荐人拉了赞助或提出不合理的要求，那么我们就可以简单地切换到不同的供应商。我们维持100％控制的项目，但无公司放弃任何权力或影响力。							</p>
							<p>
							多亏了这一点，我们有无限的选择，并提供给我们的自由。我们使用多个供应商在多个国家，每当它需要我们用户的利益，可以切换任何人。
							</p>
						</div>

						<div class="col-xs-12 text-center">
							<img src="/img/features/multi-cdn-load-balancing/automatic-cdn-switch.png">
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>
<script>
	component.exports = {
		data: function () {
			return {
				title: 'Multi-CDN Load balancing - jsDelivr',
			};
		},
	};
</script>
