<link rel="ractive" href="./shared/header.html" name="Header">

<Header app="{{app}}" query="{{query}}"></Header>

<div class="about">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-xs-offset-6">
				<h1 class="text-center">关于我们</h1>

				<p class="text-center">
	jsDelivr是一个公共开放源码的CDN（内容分发网络），任何人都可以提交一个项目，主持，通过我们的网络传递。与谷歌或微软，
我们举办各类项目 - JavaScript库，CSS框架，字体，WordPress插件，等等 - 我们不看这个项目的普及。通过使用GitHub上，
我们让社会各界充分jsDelivr通过添加和更新文件进行交互。
				</p>
			</div>
		</div>
	</div>

	<div class="about-features">
		<div class="container">
			<div class="row">
				<div class="col-sm-2 col-sm-offset 6 col-xs-3 col-xs-offset-5">
					<img src="/img/about/uptime.png">
				</div>

				<div class="col-xs-10">
					<h3>正常工作时间</h3>

					<p>
<a href="/features/multi-cdn-load-balancing">多CDN负载均衡</a>.
					</p>

					<p>
					根据<a target="_blank" href="http://www.cedexis.com/reports/">Cedexis雷达</a>, jsDelivr有所有的CDN企业Akamai的包含，CloudFront的和Edgecast最高正常运行时间。
					</p>
				</div>
			</div>

			<div class="row">
				<div class="col-sm-2 col-sm-offset 6 col-xs-3 col-xs-offset-5">
					<img src="/img/about/performance.png">
				</div>

				<div class="col-xs-10">
					<h3>性能</h3>

					<p>
多CDN负载均衡，智能算法，实时数据，真实用户度量和多个CDN提供商都走到一起，以确保最佳的性能为所有用户。					</p>
				</div>
			</div>

			<div class="row">
				<div class="col-sm-2 col-sm-offset 6 col-xs-3 col-xs-offset-5">
					<img src="/img/about/open-source.png">
				</div>

				<div class="col-xs-10">
					<h3>开放源码</h3>

					<p>
我们的项目是开源的，“不以盈利为目的”。我们所做的一切，我们这样做是为社会和更好的网络。我们致力于帮助所有开发人员和网站所有者。而且由于我们的开放式设计，我们将永远不会被供应商锁定到一个单一的供应商或技术，这意味着没有一家公司能够影响项目的伤害方式，我们可以简单地搬走。					</p>
				</div>
			</div>

			<div class="row">
				<div class="col-sm-2 col-sm-offset 6 col-xs-3 col-xs-offset-5">
					<img src="/img/about/security.png">
				</div>

				<div class="col-xs-10">
					<h3>安全</h3>

					<p>
所有jsDelivr相关帐户受到保护，使用两步认证和IP白名单由支持他们，还有一个强壮的密码服务。原始服务器
只能从由单个管理员和Github上部署服务几个白名单的IP。所有的预防措施，以保护我们的用户。					</p>
				</div>
			</div>
		</div>
	</div>

	<div class="about-faq">
		<div class="container">
			<h1 class="text-center">常见问题</h1>

			<div class="row">
				<div class="col-xs-5 col-xs-offset-2">
					<div class="faq-item">
						<div class="faq-question">
			jsDelivr怎样才能免费的吗？从长远来看，它如何生存？
						</div>

						<div class="faq-answer">
						CDN的流量是昂贵的，是的。但是，我们所有的业务和服务都是由那些想使网络更快，更好的地方真棒公司赞助。这意味着
那也没关系插件或项目多少流量可以产生，没有什么可担心的。		</div>
					</div>

					<div class="faq-item">
						<div class="faq-question">
					我可以如何帮助？
						</div>

						<div class="faq-answer">
如果你是一个公司的，请签赞助商的更多细节。如果你是一个人，你可以捐钱，或帮助我们开发（API，网站，新功能）
该网站的。如果你创建或者发现未托管尚未对jsDelivr前端的资源，你可能会 <a target="_blank" href="https://github.com/jsdelivr/jsdelivr/blob/master/CONTRIBUTING.md">其提交另外</a>. 你也可以写博客文章或者提交新的思路和特点。只需向我们发送电子邮件。
						</div>
					</div>
				</div>

				<div class="col-xs-5">
					<div class="faq-item">
						<div class="faq-question">
					是否有任何带宽限制？
						</div>

						<div class="faq-answer">
						不，永远不会有。
						</div>
					</div>

					<div class="faq-item">
						<div class="faq-question">
						为什么我的jsDelivr的测试表明糟糕的表现？
						</div>

						<div class="faq-answer">
jsDelivr依靠真正的用户做出RUM测试。基于此数据可以智能地选择为每个用户最好提供者。遗憾的是这也意味着
jsDelivr任何人工合成的测试，在服务器上运行，将导致更差的性能。像Pingdom的，WebPageTest，或任何其他基于服务器的测试服务将不
能够把我们的智能负载均衡的充分利用。所有服务器退回到国家层面的性能数据，而不是基于ASN像真正的用户做。						</div>
					</div>
				</div>

				<div class="col-xs-5">
					<div class="faq-item">
						<div class="faq-question">
						难道MaxCDN自己jsDelivr？ （或者任何其他公司）
						</div>

						<div class="faq-answer">
	不，MaxCDN是我们最大的赞助商之一，但他们不拥有或以任何方式影响项目。无论做任何其他公司。
						</div>
					</div>

					<div class="faq-item">
						<div class="faq-question">
						作为0.1版本为什么标签的一些项目？
						</div>

						<div class="faq-answer">
						有些时候，很难找到什么版本是一个项目，因为开发商并没有提到它的任何地方。在这种情况下，我们只需要使用0.1作为起始版本
并增加它在接下来的更新。
						</div>
					</div>

					<div class="faq-item">
						<div class="faq-question">
					你怎么赚钱？
						</div>

						<div class="faq-answer">
						我们不这样做，该项目是一个非营利性。大部分的东西是由企业赞助，其余由@jimaek支付。
						</div>
					</div>
				</div>

				<div class="col-xs-5">
					<div class="faq-item">
						<div class="faq-question">
						你会举办什么？
						</div>

						<div class="faq-answer">
						不完全如此，我们要求项目具有一定的文档，有许可证和分发源代码。我们不能承载您的自定义文件。
						</div>
					</div>

					<div class="faq-item">
						<div class="faq-question">
							如何jsDelivr的表现相对于其他的CDN？
						</div>

						<div class="faq-answer">
						jsDelivr是最快的CDN在世界之一。 检查 <a target="_blank" href="http://www.cedexis.com/reports/">Cedexis报告</a> 了解最新信息
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="about-team" id="team">
		<div class="container">
			<h1 class="text-center">团队</h1>

			<div class="row">
				<div class="col-xs-12 col-xs-offset-6">
					<i class="clickable fa fa-angle-left fa-3x" on-click="prev()"></i>
					<i class="clickable fa fa-angle-right fa-3x" on-click="next()"></i>

					<div class="team-members">
						<div class="team-member">
							<h3>德米特里Akulov</h3>

							<img class="team-member-avatar" src="/img/about/team/dmitriy-akulov.png">

							<div class="team-social-icons">
								<a target="_blank" href="https://ua.linkedin.com/in/dakulov"><img src="/img/about/social-icons/linkedin.png"></a>
								<a target="_blank" href="https://twitter.com/jimaek"><img src="/img/about/social-icons/twitter.png"></a>
								<a target="_blank" href="https://github.com/jimaek"><img src="/img/about/social-icons/github.png"></a>
							</div>
						</div>

						<div class="team-member">
							<h3>格雷姆Yeates</h3>

							<img class="team-member-avatar" src="/img/about/team/graeme-yeates.png">

							<div class="team-social-icons">
								<a target="_blank" href="https://twitter.com/GraemeYeates"><img src="/img/about/social-icons/twitter.png"></a>
								<a target="_blank" href="https://github.com/megawac"><img src="/img/about/social-icons/github.png"></a>
							</div>
						</div>

						<div class="team-member">
							<h3>帕特里克Nommensen</h3>

							<img class="team-member-avatar" src="/img/about/team/patrick-nommensen.png">

							<div class="team-social-icons">
								<a target="_blank" href="https://linkedin.com/in/pnommensen"><img src="/img/about/social-icons/linkedin.png"></a>
								<a target="_blank" href="https://twitter.com/pnommensen"><img src="/img/about/social-icons/twitter.png"></a>
							</div>
						</div>

						<div class="team-member">
							<h3>马丁Kolárik</h3>

							<img class="team-member-avatar" src="/img/about/team/martin-kolarik.png">

							<div class="team-social-icons">
								<a target="_blank" href="https://twitter.com/MaKolarik"><img src="/img/about/social-icons/twitter.png"></a>
								<a target="_blank" href="https://github.com/MartinKolarik"><img src="/img/about/social-icons/github.png"></a>
								<a target="_blank" href="http://kolarik.sk/"><img src="/img/about/social-icons/website.png"></a>
							</div>
						</div>

						<div class="team-member">
							<h3>盛德</h3>

							<img class="team-member-avatar" src="/img/about/team/austin-brown.png">

							<div class="team-social-icons">
								<a target="_blank" href="http://www.linkedin.com/in/austinjbrown"><img src="/img/about/social-icons/linkedin.png"></a>
								<a target="_blank" href="https://github.com/UnbounDev"><img src="/img/about/social-icons/github.png"></a>
							</div>
						</div>

						<div class="team-member">
							<h3>安德鲁·太阳</h3>

							<img class="team-member-avatar" src="/img/about/team/andrew-sun.png">

							<div class="team-social-icons">
								<a target="_blank" href="https://andrewsun.com/"><img src="/img/about/social-icons/website.png"></a>
								<a target="_blank" href="https://github.com/as-com"><img src="/img/about/social-icons/github.png"></a>
							</div>
						</div>

						<div class="team-member">
							<h3>Juho Vepsäläinen</h3>

							<img class="team-member-avatar" src="/img/about/team/juho-vepsalainen.png">

							<div class="team-social-icons">
								<a target="_blank" href="http://survivejs.com/"><img src="/img/about/social-icons/website.png"></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<script>
	component.exports = {
		data: function () {
			return {
				title: 'About - jsDelivr',
			};
		},
		onrender: function () {
			this.observe('teamPosition', function (newValue) {
				$(this.find('.team-members')).animate({ scrollLeft: newValue * $(this.find('.team-member')).width() });
			}, { init: false });

			this.set({
				teamPosition: 0,
				teamLength: this.findAll('.team-member').length - 4, // 4 = number of visible members
			});
		},
		next: function () {
			if (this.get('teamPosition') < this.get('teamLength')) {
				this.add('teamPosition');
			}
		},
		prev: function () {
			if (this.get('teamPosition') > 0) {
				this.subtract('teamPosition');
			}
		},
	};
</script>
